# Hidden macOS files
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.dS_Store
.Ds_Store
.DS_store
.Ds_store
